@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

html,
body,
#game-root {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
